<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="cef.redist.x64" version="3.2062.1898" targetFramework="net45" />
  <package id="cef.redist.x86" version="3.2062.1898" targetFramework="net45" />
  <package id="CefSharp.Common" version="37.0.0" targetFramework="net45" />
  <package id="CefSharp.WinForms" version="37.0.0" targetFramework="net45" />
  <package id="Dynamitey" version="1.0.2.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.Razor" version="3.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.3" targetFramework="net45" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="net45" />
</packages>